<html>
    <head>
        <title> SEnha Incorreta</title>
        <script>
            confirm("Senha Incorreta!")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>